# **Importing Data**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
users_df = pd.read_csv("/kaggle/input/users-csv/Users.csv")
ratings_df = pd.read_csv("/kaggle/input/ratings-csv/Ratings.csv")
books_df = pd.read_csv("/kaggle/input/books-csv/Books.csv")

/tmp/ipykernel_18/1342344810.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv("/kaggle/input/books-csv/Books.csv")

In [3]:
users_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [4]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

# **Preprocessing Data**

In [6]:
books_df = books_df.drop(books_df.columns[5], axis=1)
books_df = books_df.drop(books_df.columns[5], axis=1)
books_df = books_df.drop(books_df.columns[5], axis=1)

In [7]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [8]:
# Merge the DataFrames
data = pd.merge(ratings_df, users_df, on='User-ID')
data = pd.merge(data, books_df, on='ISBN')

# Handle missing values (if any)
data.dropna(inplace=True)

# Encode categorical variables
data['Location'] = data['Location'].astype('category').cat.codes
data['Book-Title'] = data['Book-Title'].astype('category').cat.codes
data['Book-Author'] = data['Book-Author'].astype('category').cat.codes
data['Publisher'] = data['Publisher'].astype('category').cat.codes

# Define features and target
X = data.drop(['Book-Rating'], axis=1)
y = data['Book-Rating']

*Spliting The Data*

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# **Building The Tensorflow Model**